*

!.gitignore

# Init files
!.zshrc
!.xinitrc

# Application configs
!.config/

!.config/mimeapps.list

!.config/alacritty
!.config/alacritty/*

!.config/htop
!.config/htop/*

!.config/VSCodium
!.config/VSCodium/User
!.config/VSCodium/User/settings.json

!.sbt
!.sbt/1.0
!.sbt/1.0/plugins
!.sbt/1.0/plugins/plugins.sbt

!.spacemacs

!.tmux.conf

!.tmux.conf

!.xmobarrc

!.xmonad/
.xmonad/*
!.xmonad/xmonad.hs

!.xprofile

!.zshrc
