*

!.gitignore

# Init files
!.zshrc
!.xinitrc

# Application configs
!.config/

!.config/mimeapps.list

!.config/alacritty
!.config/alacritty/*

!.config/htop
!.config/htop/*

!.tmux.conf

!.xmonad/
.xmonad/*
!.xmonad/xmonad.hs

!.xmobarrc
